html{
    box-sizing: border-box;
}
    *,*:after, *:before{
    box-sizing: inherit;
}

body{
   
 /*
    margin: auto;
    width: 90vw;
*/
}
.main-main{
    margin: auto;
    width: 90vw;

}
img{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    width:10rem;
    height:10rem;
    object-fit: cover;
   
    
}

.main-container{
    text-align: center;
    font-family: 'Marck Script', cursive;
    margin: auto;
    position: fixed;
    margin: 1.5rem;
}

.main-container__content{
    width:260px ;
    height: 280px;
    background-size: cover;
    margin: auto;
    
    
}
.main-main{
    margin: auto;
}

.line-1{
 
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 160%;
    overflow: hidden;
    white-space: nowrap;
    color: #f7306c;
    
}

.anim-typewriter{
    animation: typewriter 5s steps(44) 1s normal both,
                blinkTextCursor 500ms steps(44) ;
}

.line-2{
    color: #000;
    background: linear-gradient(to top, #fa709a, #e2376a, #030f53);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-size: 130%;
    text-align: center;
}
#main-video{
    position: absolute;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 10em;}
}
@keyframes blinkTextCursor{
    from{border-right-color:rgba(255, 255, 255, 255) ;}
    to{border-right-color:transparent ;}
}